<.auth_screen title={gettext("Set a new password")}>
  <.form for={@form} id="reset-password-form" phx-submit="save" class="h-auth-screen-form">
    <div>
      <.input
        field={@form[:password]}
        type="password"
        label={gettext("New password")}
        value=""
        autocomplete="new-password"
        minlength="12"
        required
        phx-debounce="500"
      />
      <p class="h-help-text">
        {gettext("At least 12 characters with uppercase, lowercase, and a digit.")}
      </p>
    </div>

    <.input
      field={@form[:password_confirmation]}
      type="password"
      label={gettext("Confirm new password")}
      value=""
      autocomplete="new-password"
      minlength="12"
      required
      phx-debounce="500"
    />

    <.button type="submit" variant="primary">{gettext("Update password")}</.button>
  </.form>

  <:footer>
    <.link navigate={~p"/identity/login"}>{gettext("Back to sign in")}</.link>
  </:footer>
</.auth_screen>
