<.auth_screen title={gettext("Sign in to Holter")}>
  <.form
    for={@form}
    id="login-form"
    action={~p"/identity/login"}
    method="post"
    class="h-auth-screen-form"
  >
    <.input
      field={@form[:email]}
      type="email"
      label={gettext("Email")}
      autocomplete="email"
      required
    />

    <.input
      field={@form[:password]}
      type="password"
      label={gettext("Password")}
      autocomplete="current-password"
      required
    />

    <.button type="submit" variant="primary">{gettext("Sign in")}</.button>
  </.form>

  <:footer>
    <.link navigate={~p"/identity/forgot-password"}>{gettext("Forgot your password?")}</.link>
    <span>
      {gettext("New to Holter?")}
      <.link navigate={~p"/identity/new"}>{gettext("Create an account")}</.link>
    </span>
  </:footer>
</.auth_screen>
