<.auth_screen title={gettext("Create your Holter account")}>
  <.form for={@form} id="signup-form" phx-submit="save" class="h-auth-screen-form">
    <.input
      field={@form[:email]}
      type="email"
      label={gettext("Email")}
      autocomplete="email"
      required
      phx-debounce="500"
    />

    <div>
      <.input
        field={@form[:password]}
        type="password"
        label={gettext("Password")}
        value=""
        autocomplete="new-password"
        minlength="12"
        required
        phx-debounce="500"
      />
      <p class="h-help-text">
        {gettext("At least 12 characters with uppercase, lowercase, and a digit.")}
      </p>
    </div>

    <.input
      type="checkbox"
      name="user[terms_accepted]"
      id="user_terms_accepted"
      label={gettext("I have read and agree to the Terms of Use and Privacy Policy.")}
      checked={@form[:terms_accepted].value in [true, "true", "on"]}
      errors={translate_errors(@form.errors, :terms_accepted_at)}
      required
    />

    <.button type="submit" variant="primary">{gettext("Create account")}</.button>
  </.form>

  <:footer>
    <span>
      {gettext("Already have an account?")}
      <.link navigate={~p"/identity/login"}>{gettext("Sign in")}</.link>
    </span>
  </:footer>
</.auth_screen>
