body {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  color: var(--color-base-content);
  background-color: var(--color-base-100);
  line-height: 1.5;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Mono', monospace;
  margin-top: 0;
}

*, ::after, ::before {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: inherit;
}
