<div class="h-workspace-content">
  <.dashboard_header
    title={gettext("Notification Channels")}
    subtitle={gettext("Alert delivery channels")}
  >
    <:actions>
      <%= if @at_quota do %>
        <span
          class="h-btn h-btn-primary h-btn-disabled"
          title={
            gettext("Channel limit reached (%{count}/%{max})",
              count: @channel_max,
              max: @channel_max
            )
          }
        >
          <.icon name="plus" />
          {gettext("New Channel")}
        </span>
      <% else %>
        <.link
          navigate={~p"/delivery/workspaces/#{@workspace.slug}/channels/new"}
          class="h-btn h-btn-primary"
        >
          <.icon name="plus" />
          {gettext("New Channel")}
        </.link>
      <% end %>
    </:actions>
  </.dashboard_header>

  <%= if Enum.empty?(@channels) do %>
    <.empty_state
      title={gettext("No notification channels yet")}
      description={gettext("Create a channel to start receiving alerts when incidents occur.")}
    >
      <:icon>
        <.icon name="bell" class="h-icon-size-8" />
      </:icon>
      <:actions>
        <.link
          navigate={~p"/delivery/workspaces/#{@workspace.slug}/channels/new"}
          class="h-btn h-btn-primary"
        >
          <.icon name="plus" />
          {gettext("New Channel")}
        </.link>
      </:actions>
    </.empty_state>
  <% else %>
    <.table id="channels-table" rows={@channels}>
      <:col :let={channel} label={gettext("Name")}>
        <.link navigate={channel.show_path} class="h-link">
          {channel.name}
        </.link>
      </:col>
      <:col :let={channel} label={gettext("Type")}>
        {channel.type}
      </:col>
      <:col :let={channel} label={gettext("Target")}>
        {channel.target}
      </:col>
      <:col :let={channel} label="">
        <.link navigate={channel.show_path} class="h-btn h-btn-soft h-text-sm">
          {gettext("Edit")}
        </.link>
      </:col>
    </.table>
  <% end %>
</div>
